/.vscode
fill_db/albums.json
fill_db/artists.json
fill_db/config.py
fill_db/sql_artists.txt
fill_db/sql_genre.txt
fill_db/sql_is_genre.txt
fill_db/tracks.json
/__pycache__
to_remove.txt
..bfg-report/2020-10-14/12-54-25/cache-stats.txt
..bfg-report/2020-10-14/12-54-25/changed-files.txt
..bfg-report/2020-10-14/12-54-25/object-id-map.old-new.txt
website/config.py
\__pycache__