{% extends "base.html" %} {% block content %}
<h1><i><b>{{artist_name}}</b></i></h1>
<h4><b>Genres:</b>
    {% for genre in genres %}
    {{genre.genre}}
    {% if not loop.last %}
    ,
    {% endif %}
    {% endfor %}
</h4>

<div class="row">
    <div class="col-4">
        <h4><b>Top Tracks:</b></h4>
        {% for track in top_tracks %}
        <ul class="list-group">
            <li class="list-group-item">
                <i><a href="/rate?song_id={{track.song_id}}">{{track.song}}</a></i>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-4">
        <h4><b>Albums:</b></h4>
        {% for album in albums %}
        <ul class="list-group">
            <li class="list-group-item">
                {{album.album}}
                {% if "appears_on" in album.album_group %}
                    <i> (featured) </i>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-4">
        <h4><b>Related Artists:</b></h4>
        {% for artist in related_artists %}
        <ul class="list-group">
            <li class="list-group-item">
                <i><a href="/artist?artist={{artist.artist}}">{{artist.artist}}</a></i>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>


{% endblock %}