{% extends "base.html" %} {% block content %}
<h1>Search for Songs:</h1>

{% include "searchbar.html" %}

{% if songs %}
<div class="list-group">
{% for song in songs %}
{% set call_string = 'redirect_song(\"' ~ song.song_id.strip() ~ '\")' %}
<button type="button" class="list-group-item list-group-item-action" onclick={{call_string}}>
    <div class="row">
    <div class="col-8">
        <b>{{song.title}}</b> by
        <i
        ><a href="/artist?artist={{song.artist}}"
            >{{song.artist}}</a
        ></i
        >
        in <b>{{song.album}}</b>
    </div>
    <div class="col-2">Rating: {{song.average}}</div>
    <div class="col-2">Listens: {{song.num_listens}}</div>
    </div>
</button>
{% endfor %}
</div>

<script>
  function redirect_song(input_id)
  {
    var loc = "/rate?song_id="
    loc = loc.concat(input_id)  
    location.href = loc;
  } 
</script>
{% elif prev %}
<div>
  No results were found with {{prev[1]}} named '{{prev[0]}}'.
</div>
{% endif %} {% endblock %}
