{% extends "base.html" %} {% block content %}
<h1>hello</h1>
<form method="POST" action="/">
  <input name="firstname" placeholder="Enter first name" />
  <button type="submit">Submit</button>
</form>
<ul>
  {% for item in a %}
  <li>{{item}}</li>
  {% endfor %}
</ul>
{% if songs %}
<ul class="list-group">
  {% for song in songs %}
  <li class="list-group-item">
    <b>{{song.get("title", "i fucked up")}}</b> by <i><a href="/songs-by-artist?artist={{song.get('artist', '404')}}">{{song.get("artist", "database
    failure")}}</a></i>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
