{% extends "base.html" %} {% block content %}
<h1 class="display-3"><i><b>{{song.song_name}}</b></i></h1>
<h4><b>Artist:</b> {{song.artist_name}}</h4>
<h4><b>Album:</b> {{song.album_name}}</h4>
<h4><b>Rating:</b> {{avg_rating}}/10</h4>
<h4><b>Total Listens:</b> {{total_listens}}</h4>

{% if listened_to_song %}
<button type="button" class="btn btn-secondary active" role="button" disabled>Listened to this song!</button>
{% else %}
{% set listened_destination_address = '/rate?song_id=' + song_id + '&listened_to=1' %}
<a href={{listened_destination_address}} type="button" class="btn btn-outline-secondary" role="button">Listened to this song!</a>
{% endif %}

<p>
  <button class="btn btn-primary mt-2" type="button" data-toggle="collapse" data-target="#more_details" aria-expanded="false" aria-controls="more_details">
    More Details
  </button>
</p>
<div class="collapse" id="more_details">
  <div class="card card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Explicit:</b> {{other_details[0]}}</li>
      <li class="list-group-item"><b>Duration:</b> {{other_details[1]}}</li>
      <li class="list-group-item"><b>Popularity:</b> {{other_details[2]}}</li>
      <li class="list-group-item"><b>Countries Available:</b> {{other_details[3]}}</li>
    </ul>
  </div>
</div>

<div class="form-group">&nbsp;</div>

<label for="rating_submission" style="font-size: 24px"><b>Leave a Rating as {{request.cookies.get('username')}}:</b></label>
{% set destination_address = '/rate?song_id=' + song_id %}
<form method="POST" action={{destination_address}} id="rating_submission">
  <div class="form-group">
    <label for="comment_box">Comment:</label>
    <textarea
      class="form-control"
      rows="5"
      id="comment_box"
      placeholder="Enter your comment here."
      name="comment"
      required
    ></textarea>
  </div>
  <div class="form row">
    <div class="form-group col-4">
      <label for="post_rating">Rating:</label>
      <input
        type="number"
        class="form-control"
        id="post_rating"
        min="1"
        max="10"
        step="1"
        placeholder="5"
        name="rating"
        required
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type="hidden" name="song_id" value="{{song_id}}">
</form>

<div class="form-group">&nbsp;</div>

<label for="comment_list" style="font-size: 24px"><b>Ratings:</b></label>
<div class="list-group" id="comment_list">
  {% for rating in results %}
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{rating.username}}</h5>
      <h5>{{rating.rating}}/10</h5>
    </div>
    <p class="mb-1">{{rating.comment}}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
